<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  
  <body style="background-color:rgb(209, 212, 248);" >
    <h1 style="text-align: center;">Welcome to Natural Disaster Warnings With Bluesky</h1>
    
  <div id="border" style="border: thin solid black ; background-color:rgb(145, 148, 177); cursor:pointer" onclick="toggleDisplay('tornado-tweets-container')">
    <h1 style="text-align: center;" >Tornados</h1>
    <div id="tornado-tweets-container" style="display: none">
      <% if (tweets.length > 0) { %>
          <% tweets.forEach(tweet => { %>
              <% if (tweet.query == "tornado"){ %>
              <div class="tweet">
                  <strong><%= tweet.query %></strong><br>
                  <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                  <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
              </div>
              <%} }); %>
      <% } else { %>
          <p>No tweets available.</p>
      <% } %>
  </div>
</div>
<div id="border" style="border: thin solid black ; background-color:rgb(151, 158, 218);cursor:pointer" onclick="toggleDisplay('hurricane-tweets-container')">
    <h1 style="text-align: center; " >Hurricanes</h1>
    <div id="hurricane-tweets-container" style="display: none">
      <% if (tweets.length > 0) { %>
          <% tweets.forEach(tweet => { %>
              <% if (tweet.query == "hurricane"){ %>
              <div class="tweet">
                  <strong><%= tweet.query %></strong><br>
                  <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                  <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
              </div>
              <%}%>
          <% }); %>
      <% } else { %>
          <p>No tweets available.</p>
      <% } %>
  </div>
</div>


<div id="border" style="border: thin solid black ; background-color:rgb(129, 119, 119);cursor:pointer"  onclick="toggleDisplay('earthquake-tweets-container')">
  <h1 style="text-align: center; ">Earthquakes</h1>
  <div id="earthquake-tweets-container" style="display: none">
    <% if (tweets.length > 0) { %>
        <% tweets.forEach(tweet => { %>
            <% if (tweet.query == "earthquake"){ %>
            <div class="tweet">
                <strong><%= tweet.query %></strong><br>
                <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
            </div>
            <%}%>
        <% }); %>
    <% } else { %>
        <p>No tweets available.</p>
    <% } %>
 </div>
</div>


<div id="border" style="border: thin solid black ; background-color:rgb(120, 133, 248); cursor:pointer" onclick="toggleDisplay('flood-tweets-container')">
    <h1 style="text-align: center ;" >Floods</h1>
    <div id="flood-tweets-container" style="display: none">
      <% if (tweets.length > 0) { %>
          <% tweets.forEach(tweet => { %>
              <% if (tweet.query == "flood"){ %>
              <div class="tweet">
                  <strong><%= tweet.query %></strong><br>
                  <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                  <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
              </div>
              <%}%>
          <% }); %>
      <% } else { %>
          <p>No tweets available.</p>
      <% } %>
  </div>
</div>

<div id="border" style="border: thin solid black ; background-color:rgb(226, 178, 87); cursor:pointer" onclick="toggleDisplay('wildfire-tweets-container')">
  <h1 style="text-align: center ;" >WildFires</h1>
  <div id="wildfire-tweets-container" style="display: none">
    <% if (tweets.length > 0) { %>
        <% tweets.forEach(tweet => { %>
            <% if (tweet.query == "wildfire"){ %>
            <div class="tweet">
                <strong><%= tweet.query %></strong><br>
                <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
            </div>
            <%}%>
        <% }); %>
    <% } else { %>
        <p>No tweets available.</p>
    <% } %>
</div>
</div>

<div id="border" style="border: thin solid black ; background-color:rgb(156, 205, 228); cursor:pointer" onclick="toggleDisplay('blizzard-tweets-container')">
  <h1 style="text-align: center ;" >Blizzard</h1>
  <div id="blizzard-tweets-container" style="display: none">
    <% if (tweets.length > 0) { %>
        <% tweets.forEach(tweet => { %>
            <% if (tweet.query == "blizzard"){ %>
            <div class="tweet">
                <strong><%= tweet.query %></strong><br>
                <strong>@<%= tweet.user %></strong>: <%= tweet.text %>
                <br><small><%= new Date(tweet.timestamp).toLocaleString() %></small>
            </div>
            <%}%>
        <% }); %>
    <% } else { %>
        <p>No tweets available.</p>
    <% } %>
</div>
</div>
  </body>
  <script>
    function toggleDisplay(type) {
      let container = document.getElementById(type);
      container.style.display = container.style.display === "none" ? "block" : "none";
    }
  </script>
</html>
